version: "2.1"
services:
  plex:
    container_name: plex
    image: lscr.io/linuxserver/plex:latest
    network_mode: host
    restart: unless-stopped
    devices:
        - /dev/dri:/dev/dri
    environment:
      - PUID=1029
      - PGID=100
      - VERSION=docker
    volumes:
      - /volume1/docker/appdata/plex:/config
      - /volume1/data/media:/data/media

  sabnzbd:
    container_name: sabnzbd
    image: lscr.io/linuxserver/sabnzbd
    restart: unless-stopped
    environment:
      - PUID=1029
      - PGID=100
      - TZ=Australia/Brisbane
    ports:
      - 8080:8080
    volumes:
      - /volume1/docker/appdata/sabnzbd:/config
      - /volume1/data/usenet:/data/usenet

  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:latest
    restart: unless-stopped
    environment:
      - PUID=1029
      - PGID=100
      - TZ=Australia/Brisbane
    ports:
      - 8989:8989
    volumes:
      - /volume1/docker/appdata/sonarr:/config
      - /volume1/data/media/tv:/data/media/tv
      - /volume1/data/usenet:/data/usenet/

  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    restart: unless-stopped
    environment:
      - PUID=1029
      - PGID=100
      - TZ=Australia/Brisbane
    ports:
      - 7878:7878
    volumes:
      - /volume1/docker/appdata/radarr:/config
      - /volume1/data/media/movies:/data/media/movies
      - /volume1/data/usenet:/data/usenet/

  bazarr:
    container_name: bazarr
    image: lscr.io/linuxserver/bazarr:latest
    restart: unless-stopped
    environment:
      - PUID=1029
      - PGID=100
      - TZ=Australia/Brisbane
    ports:
      - 6767:6767  
    volumes:
      - /volume1/docker/appdata/bazarr:/config
      - /volume1/data/media/movies:/data/media/movies
      - /volume1/data/media/tv:/data/media/tv       

  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:develop
    restart: unless-stopped
    environment:
      - PUID=1029
      - PGID=100
      - TZ=Australia/Brisbane
    ports:
      - 9696:9696
    volumes:
      - /volume1/docker/appdata/prowlarr:/config

  overseerr:
    container_name: overseerr
    image: lscr.io/linuxserver/overseerr:latest
    restart: unless-stopped
    environment:
      - PUID=1029
      - PGID=100
      - TZ=Australia/Brisbane
    ports:
      - 5055:5055
    volumes:
      - /volume1/docker/appdata/overseerr:/config

  tautulli:
    container_name: tautulli
    image: lscr.io/linuxserver/tautulli
    restart: unless-stopped
    environment:
      - PUID=1029
      - PGID=100
      - TZ=Australia/Brisbane
    ports:
      - 8181:8181
    volumes:
      - /volume1/docker/appdata/tautulli:/config

  plexautoskip:
    container_name: plexautoskip
    image: ghcr.io/mdhiggins/plexautoskip-docker
    restart: unless-stopped
    environment:
      - PUID=1029
      - PGID=100
      - TZ=Australia/Brisbane
    volumes:
      - /volume1/docker/appdata/plexautoskip:/config

  nginxproxymanager:
    container_name: nginx-proxy-manager
    image: jc21/nginx-proxy-manager:latest
    restart: unless-stopped
    ports:
      - 8081:80
      - 81:81
      - 4443:443
    volumes:
      - /volume1/docker/appdata/nginxproxymanager:/data
      - /volume1/docker/appdata/nginxproxymanager/letsencrypt:/etc/letsencrypt

  plex-meta-manager:
    container_name: plex-meta-manager
    image: meisnate12/plex-meta-manager
    restart: unless-stopped
    environment:
      - PUID=1029
      - PGID=100
      - TZ=Australia/Brisbane
      - PMM_CONFIG=/config/config.yml
      - PMM_TIME=00:15,05:15
      - PMM_NO_MISSING=False
    volumes:
      - /volume1/docker/appdata/plexmetamanager:/config

  dizquetv:
    container_name: disquetv
    image: vexorian/dizquetv:edge
    restart: unless-stopped
    ports:
      - 8111:8000
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /volume1/docker/appdata/dizquetv:/home/node/app/.dizquetv

  tdarr:
    container_name: tdarr
    image: ghcr.io/haveagitgat/tdarr:latest
    restart: unless-stopped
    environment:
      - TZ=Australia/Brisbane
      - PUID=1029
      - PGID=100
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - nodeID=SynologyNAS
    ports:
      - 8265:8265 # webUI port
      - 8266:8266 # server port
      - 8267:8267 # Internal node port
      - 8268:8268 # Example extra node port
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /volume1/docker/appdata/tdarr/server:/app/server
      - /volume1/docker/appdata/tdarr/configs:/app/configs
      - /volume1/docker/appdata/tdarr/logs:/app/logs
      - /volume1/data/media:/media
      - /volume1/docker/appdata/tdarr/transcode_cache:/temp

  bento:
    image: lewisdoesstuff/bento
    volumes:
      # Append Bento config location to below line.
      - /volume1/docker/appdata/bento/config.js:/usr/share/nginx/html/config.js
    ports:
      # Replace host port 80 (left side) with desired port.
      - 83:80
